body {  background-color: #666666; width: 100% }
div {   
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.main { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.footer  { 
  vertical-align: bottom;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
